* { box-sizing: border-box; margin: 0px; }
body { width: 100%; }
a { text-decoration: none; }
/* ScrollBar*/
::-webkit-scrollbar { width: 4px; border: 1px solid #d5d5d5; }
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@300;400&display=swap');

#sec-container { display: flex; flex-direction: row; }

#atc_Calculator {
    border: 1px solid gray; 
    border-radius: 5%; 
    width: 300px; 
    height: 500px;
}
/** Calulator All Element */
.Button_Number { display: flex; }
.Number_Line, .Operator_Line2 { display: flex; flex-direction: column; }

#Calculator_Head {}

#BackSpace_img { width: 20px; height: 20px; align-items: center;}
