* {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

#header_Contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#header_Contents .button {
    height: 50px;
}

#nav_Contents {
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

#nav_maintitle {
    font-size: 80px;
}

#nav_userimage {
    border-radius: 100%;
    border: 1px black solid;
    background-image: url(./Images/Github_UserProfile.png);
}
