body {
    font-family: "Noto Sans KR",Roboto,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif,"Apple Color Emoji","Twemoji Country Flags";
    margin: 0px;
    background-color: white;
    /* <a href="https://www.flaticon.com/kr/free-icons/-" title="마우스 커서 아이콘">마우스 커서 아이콘  제작자: Fathema Khanom - Flaticon</a> */
}
a { text-decoration: none; }
::-webkit-scrollbar { width: 4px; border: 1px solid #d5d5d5; }

#header_Contaainer {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 100px;
    background-color: white;
    box-shadow: 1px 3px 16px 4px rgba(128, 128, 128, 0.3);
    overflow: hidden;
}
#header_Contaainer button { height: 40px; border: none; font-size: 15px; font-weight: 800;}

/* Top Left Menu Button Element */
#head_menu button {background-color: white;}
#head_menu button:hover { background-color: darkblue; color: white; }

/* Top Right Login Button Element*/
#head_login button { margin-inline: 5px; border-radius: 5px; position: sticky;}
#head_login .signin { background-color: black; color: white;}
#head_login .signin:hover { background-color: gray; color: white; }
#head_login .signup { background-color: red; color: white; border: 1px solid red;}
#head_login .signup:hover { background-color: white; color: black; border: 1px solid red;}

#nav_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1080px;
    padding-bottom: 120px;
    gap: 60px;
}
/* Nav UserName and MainTitle */
#nav_maintitle span { font-size: 80px; font-weight: 600; }
/* Nav UserProfile Image */
#nav_userimage img { height: 400px; border-radius: 100%; }

/* Sec User UsedSkill Info*/
#sec_ContainerA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1080px;
    gap: 60px;
    background-color: #F4F5F9;
}

#A_skillList { font-size: 60px; font-weight: bolder; margin: 5px; }

.A_SkillName { font-size: 25px; font-weight: bolder; }
.A_SkillBar { width: 800px; height: 35px; background-color: white; border-radius: 5px; box-shadow: 1px 3px 16px 4px rgba(128, 128, 128, 0.3); }

#html { width: 60%; height: 35px; background-color: blue; border-radius: 5px; text-align: end; font-weight: bolder; }
#javascirpt { width: 60%; height: 35px; background-color: blue; border-radius: 5px; text-align: end; font-weight: bolder; }
#java { width: 45%; height: 35px; background-color: orange; border-radius: 5px; text-align: end; font-weight: bolder; }
#c { width: 45%; height: 35px; background-color: orange; border-radius: 5px; text-align: end; font-weight: bolder; }
#docker { width: 20%; height: 35px; background-color: red; border-radius: 5px; text-align: end; font-weight: bolder; }
#node { width: 40%; height: 35px; background-color: orange; border-radius: 5px; text-align: end; font-weight: bolder; }

#sec_ContainerB {
    display: flex;
    flex-direction: column;
    height: 1020px;
    align-items: center;
    justify-content: center;
}